body {
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('../images/skateboard_ramp_dogelumens.png');
    /* background-image: url(../'images/halfpipe_city.jpg'); */
    background-size: contain;
    background-position:bottom;
    background-repeat: no-repeat;
    overflow: hidden;
}

@keyframes rotationAnim {
    0% {transform: rotate(-180deg);}
    100% {transform: rotate(0);}
}

@keyframes rotationAnim1 {
    0% {transform: rotate(0);}
    100% {transform: rotate(-180deg);}
}

@keyframes rotationAnimRev {
    0% {transform: rotate(180deg);}
    50% {transform: rotate(0);}
    100% {transform: rotate(180deg);}
}

@keyframes kickflip {
    0% {transform: rotate(0);}
    40% {transform: rotate(0);}
    50% {transform: rotate3d(0, 1, 0, 360deg);}
    55% {transform: rotate3d(0, 1, 0, 360deg);}
    90% {transform: rotate3d(0, 1, 0, 360deg);}
    100% {transform: rotate3d(0, 1, 0, 0);}
}

@keyframes flash{
    50% {opacity: 20%;}
}
.main_container{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown {
    font-size: 2em;
    margin-top: 20px;
    color: #333;
}
.crypto-price {
    margin-top: 30px;
    font-size: 1.5em;
    color: #ff9900;
}
.whoiswinning {
    margin-top: 30px;
    font-size: 1.5em;
    color: #333;
}
.invisible_parent{
    background-color: rgba(255, 255, 255, 0);
    width:40px;
    height:40px;
    position: relative;
    bottom: 50px;
    transform: rotate(-180deg);
    /* animation: rotationAnim 5s infinite paused; */

}
.skateboard_container{
    border:1px solid black;
    border-radius: 25px;
    width:500px;
    height:500px;
    position: absolute;
    background-color: white;
    left: -510px;
    top: -260px;
}

.arrows{
    display:flex;
    flex-direction: row;
    align-items: bottom;
}
.arrow_right{
    width:50px;
    height:50px;
    position: right;
    margin-left:40px;
    background-image: url('../images/keyboard_key_right.png');
    background-size: contain;
    background-position:bottom;
    background-repeat: no-repeat;
    animation: flash 1.5s infinite running;
}

.arrow_left{
    width:50px;
    height:50px;
    position: left;
    margin-right:40px;
    background-image: url('../images/keyboard_key_left.png');
    background-size: contain;
    background-position:bottom;
    background-repeat: no-repeat;
    animation: flash 1.5s infinite running;
}

.skateboard_image{
    width:500px;
    height:500px;
    position: absolute;
    background-image: url('../images/deska.png');
    background-size: contain;
    background-position:bottom;
    background-repeat: no-repeat;
    left: -800px;
    top: -250px;
    animation: kickflip 8s infinite running; 
}

.info_container{

    border-radius: 35px;
    align-items: center;
    position: absolute;
    top: 110px;
    left: 35px;
    background-color: white;
    transform: rotate(180deg);

    /* animation: rotationAnimRev 5s infinite paused; */
}